@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

@mixin gradientText {
  background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@mixin gradientText-hover {
  background: -webkit-linear-gradient(
    70deg,
    #3bf0e4 0%,
    #bca1f7 60%,
    #bca1f7 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@mixin gradient-background {
  background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
}
@mixin gradient-hover-background {
  background: -webkit-linear-gradient(
    -70deg,
    #3bf0e4 0%,
    #3bf0e4 30%,
    #bca1f7 100%
  );
}
@mixin gradient-apple-text {
  background-image: linear-gradient(
    90deg,
    #2ca2b4,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin gradient-purple-text {
  background: -webkit-linear-gradient(180deg, #ffb6ff, #b344ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
