/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;

  &__title,
  &__title-center {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height: 140%;

    &-center {
      text-align: center;
    }
  }
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; // For animation
}

.bg-text-l,
.bg-text-r {
  font-size: 40rem;
  font-weight: 1000;
  position: absolute;
  z-index: -1;
  opacity: 0.04;
  bottom: -20%;
  line-height: 100%;
}

.bg-text-l {
  left: -20%;
}
.bg-text-r {
  right: -20%;
}
