.section {
  padding: 3rem 0;
  margin-top: 8rem;
  height: 120vh;
  &__title-container {
    @include flex-center;
  }
  &__title {
    @include gradientText;
    font-size: 3rem;
    display: inline-block;
    margin-inline-end: 5rem;
    transition: 0.2s all;
    &:hover {
      @include gradientText-hover;
      transform: translateX(1.5rem);
    }
  }
  &__line {
    flex: 1;
    height: 2px;
    @include gradient-background;
  }
}
