.section {
  padding: 0;
  margin-top: 8rem;
  padding-left: 8rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // background-color: rebeccapurple;
  &__title-container {
    @include flex-center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  &__title {
    @include gradientText;
    font-size: 3rem;
    font-weight: 500;
    margin-inline-end: 3rem;
    transition: 0.2s all;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    &:hover {
      @include gradientText-hover;
      transform: rotate(180deg) translateY(-1.5rem);
    }
  }
  &__line {
    width: 2px;
    height: 100px;
    @include gradient-background;
  }
}
