.project-card {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  background-color: var(--bg-gray-light);
  border-radius: 5px;
  width: 100%;
  clip-path: polygon(
    5rem 0%,
    100% 0,
    100% calc(100% - 5rem),
    calc(100% - 5rem) 100%,
    0 100%,
    0 5rem
  );
  position: relative;
  opacity: 0;
  visibility: none;
  transform: translateX(-4rem);
  transition: all 0.4s 0.1s;
  &__before-shape {
    width: 2.5rem;
    height: 100%;
    display: inline-block;
    @include gradient-background;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 15rem, 0 5rem);
    border-radius: 2px;
  }
  &__text-container {
    padding: 2rem;
  }
  &__image {
    width: 8rem;
    border-radius: 5px;
    position: absolute;
    right: 0;
    // top: -200px;
  }
  &__title {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(-5rem);
    transition: all 0.6s 0.4s;
  }
  &__description {
    font-size: 1.8rem;
    opacity: 0;
    transform: translateY(-6rem);
    transition: all 0.6s 0.8s;
  }
  &__tags-list {
    display: flex;
    column-gap: 1.5rem;
    margin-top: 7rem;
  }
  &__tag {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
  }
}

// .before {
//   width: 2.5rem;
//   height: 100%;
//   @include gradient-background;
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 15rem, 0 5rem);
//   border-radius: 2px;
// }
.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
