.btn {
  padding: 1.4rem 2rem;
  border-radius: 0.1rem;
  line-height: 100%;
  transition: all 0.2s;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  @include gradient-background;
  font-weight: 600;
  &__outline {
    transition: none;
    position: relative;
    span {
      transition: all 0.2s;
      z-index: 2;
      @include gradientText;
    }
    &::before {
      content: "";
      clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
      background-color: var(--bg-gray);
      width: calc(100% - 0.6rem);
      height: calc(100% - 0.6rem);
      position: absolute;
      z-index: 1;
    }
    // &:hover {
    //   transform: rotate(-8deg);
    //   span {
    //     transform: rotate(8deg);
    //     font-size: 18px;
    //   }
    // }
  }
  &__solid {
    color: var(--bg-gray);
    transition: all 0.2s;
    position: relative;

    &:hover {
      span {
        z-index: 2;
        @include gradientText;
      }
      &::before {
        content: "";
        clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
        background-color: var(--bg-gray);
        width: calc(100% - 0.6rem);
        height: calc(100% - 0.6rem);
        position: absolute;
        transform: scale(-2px);
        z-index: 1;
        transform: translateY(0);
      }
    }
  }
}
