.btn {
  padding: 1.8rem 2.5rem;
  border-radius: 0.1rem;
  line-height: 100%;
  clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
  @include gradient-background;
  font-weight: 700;
  font-size: 2rem;
  transition: all 0.3s;
  &__outline {
    position: relative;
    span {
      z-index: 2;
      @include gradientText;
    }
    &::before {
      content: "";
      clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
      background-color: var(--bg-gray);
      width: calc(100% - 0.6rem);
      height: calc(100% - 0.6rem);
      position: absolute;
      z-index: 1;
    }
  }
  &__solid {
    color: var(--bg-gray);
    position: relative;

    &:hover {
      span {
        z-index: 2;
        @include gradientText;
      }
      &::before {
        content: "";
        clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
        background-color: var(--bg-gray);
        width: calc(100% - 0.6rem);
        height: calc(100% - 0.6rem);
        position: absolute;
        transform: scale(-2px);
        z-index: 1;
        transform: translateY(0);
      }
    }
  }
  &:hover {
    transform: translateY(5px);
  }
}
