.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  line-height: 100%;
  transition: all 0.2s;
  &__outline {
    background: linear-gradient(var(--bg-gray), var(--bg-gray)) padding-box,
      linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%) border-box;
    border: 4px solid transparent;
    color: white;
    &:hover {
      transform: translateY(-2px);
      background: linear-gradient(var(--bg-gray), var(--bg-gray)) padding-box,
        linear-gradient(-70deg, #3bf0e4 0%, #3bf0e4 50%, #bca1f7 100%)
          border-box;
    }
  }
  &__solid {
    @include gradient-background;
    color: var(--bg-gray);
    color: black;
    &:hover {
      transform: translateY(-2px);
      @include gradient-hover-background;
    }
  }
}
