@font-face {
  font-family: "sf-pro";
  src: url("/fonts/FontsFree-Net-SFProText-Light-1.ttf");
}
@font-face {
  font-family: "Estricta";
  src: url("/fonts/FontsFree-Net-SFProText-Light-1.ttf");
}

body {
  font-family: "Oxanium", sans-serif;
  // font-family: "sf-pro", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--font-gray);
}
p {
  font-size: 1.5rem;
}
button {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
